body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 13, 13);
    color: #8d9892;
    text-align: center;
}

h1 {
    color: #444;
    background-color: #631c1c;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5em;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    padding: 0 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        background-color: #444;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-list li {
        text-align: center;
        padding: 10px 0;
    }

    .nav-toggle {
        display: block;
    }
}