body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 13, 13);
    color: #426c5e;
}

h1 {
    text-align: center;
    color: #100c0c;
    background-color: #631c1c;
    padding: 20px;
}

h2 {
    color: #100c0c;
    background-color: #631c1c;
    align-items: flex-start;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5em;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-list li {
    padding: 0 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
}

.nav-list li a.active {
    text-decoration: underline;
}

#H-om {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#H-om h2 {
    font-size: 2rem;
    display: flex-start;
    align-items: center;
    justify-content: space-between;
}

#H-om p {
    font-size: 1.5rem;
    max-width: 50%;
    max-height: 90%;
}

#H-om img {
    max-width: 50%;
    align-items: flex-end;
    height: auto;
}

#H-Färdigheter {
    text-align: center;
    font-size: 2rem;
}

#H-Färdigheter p {
    text-align: flex-start;
    font-size: 2rem;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#Main {
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    max-height: 75%;
    /* Ensure the image doesn't exceed the container height */
    width: auto;
    height: auto;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        background-color: #444;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-list li {
        text-align: center;
        padding: 10px 0;
    }

    .nav-toggle {
        display: block;
    }
}
